<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Lottery</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="">Admin dashoard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p class="navbar-text">
                    <span class="glyphicon glyphicon-user"></span> Logged as {{username}}
                </p>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Lotteries</h2>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="lottery in lotteries">
                <td>{{lottery.lotteryName}}</td>
                <td>Prize: {{lottery.prize}}</td>
                <td>Drow time: {{lottery.drowTime | parseDate}}</td>
                <td><a ng-click="removeLottery(lottery.id)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> REMOVE</a></td>
            </tr>
            <tr class="form-group">
                <td><input class="form-control" ng-model="lotteryName" type="text" /></td>
                <td><input class="form-control" ng-model="prize" type="text" /></td>
                <td><input class="form-control" ng-model="drowTime" type="datetime" /></td>
                <td><a ng-click="addLottery()" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> ADD</a></td>
            </tr>
        </tbody>
    </table>
</div>